      <tr>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= sex_label(user) %></td>
        <td><%= format_date(user.created_at) %></td>
        <td class="actions">
          <%= link_to "Show", user_path(user), class: "btn btn-show" %>
          <%= action_button("Edit", edit_user_path(user), "edit") %>
          <%= link_to "Delete",
            user_path(user),
            method: :delete,
            data: { confirm: "Are you sure?" },
            class: "btn btn-delete" %>
        </td>
      </tr>