<h1>New User</h1>

<%= form_with model: @user, local: true do |form| %>
  <div>
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

 <div>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :sex %>
    <%= form.select :sex, [["Male", 1], ["Female", 0]] %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<%= link_to "Cancel", "/users" %>
