<%= form_with model: [:admin, @project],local:true do |form| %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
    <div>
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

<div>
    <%= form.label :user_id%>
    <%= form.text_field :user_id %>
  </div>



  <div>
    <%= form.submit %>
  </div>
<% end %>
